@model MVC_2_P3.DTOs.DTOListadoArticuloRangoPorFecha

@{
    ViewData["Title"] = "ListadoArticuloRangoPorFecha";
}

<h1>Listado Articulos por rango de fecha</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="ListadoArticuloRangoPorFecha">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label form="inicio">Fecha Inicio: </label>
                <input type="datetime" name="inicio">
            </div>
            <br />
            <div class="form-group">
                <label form="final">Fecha Final: </label>
                <input type="datetime" name="final">
            </div>
            <br />
            <div class="form-group">
                <label for="idArticulos" class="control-label">Articulos: </label>
                <select for="idArticulos" class="form-control" multiple>
                    <option value="">Seleccione un Articulo o varios</option>
                    @if (Model.articulos != null)
                    {
                        @foreach (var articulo in Model.articulos)
                        {
                            <option value="@articulo.id">@articulo.nombre</option>
                        }
                    }
                    <span validation-for="idArticulos" class="text-danger"></span>
                </select>
            </div>

            <br />
            <div class="form-group">
                <input type="submit" value="Buscar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<br />

@if (Model.movimientos!=null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.movimientos.FirstOrDefault().id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.movimientos.FirstOrDefault().fechaDeMovimiento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.movimientos.FirstOrDefault().email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.movimientos.FirstOrDefault().cantidadMovidas)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.movimientos)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fechaDeMovimiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cantidadMovidas)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>No hay datos disponibles</h3>
}
