@model IEnumerable<MVC_2_P3.DTOs.DTOResumenAnio>

@{
    ViewData["Title"] = "ListadoAnualesPorTipo";
}

<h1>Listado Anual Por Tipo</h1>

@{
    // Agrupar los datos por año
    var groupedByYear = Model.GroupBy(x => x.anio);
}

@foreach (var group in groupedByYear)
{
    <div style="margin-bottom: 20px;">
        <strong>Año: @group.Key</strong>
        @foreach (var item in group)
        {
            <ul>
                <li>Tipo: @item.tipo</li>
                <li>Cantidad Movidas: @item.cantMovidas</li>
            </ul>
        }
              <ul>
            <li>Cantidad Movidas Totales: @group.Sum(x => x.cantMovidas)</li>
             </ul>
    </div>
}

@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.anio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantMovidas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.anio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantMovidas)
            </td>
        </tr>
}
    </tbody>
</table> *@
